html, body {
	height:100%;
	width:100%;
	background-image: url("http://www.wallpaperhi.com/thumbnails/detail/20120727/mountains%20landscapes%20nature%20animals%20dogs%20scenic%201920x1200%20wallpaper_www.wallpaperhi.com_95.jpg");
	background-size: cover;
}
.topBox {
	border-bottom: 2px solid black;
	padding: 20px 0;
	width:98%;
	margin: auto;
}
input {
	background-color: black;
	font-size: 15px;
	color:white;
	height:25px;
	width:200px;
}
button {
	font-size: :15px;
	background-color: black;
	color: white;
	text-align: center;
	border-radius: 10px;
}
.search {
	float: right;
}
h1 {
	color: red;
}
p {
	color: white;
	margin-left: 50px;
	margin-bottom: 30px;
}